@font-face {
    font-family: Vazir-Medium;
    src: url("../fonts/Vazir-Medium.eot") format("eot"),
      url("../fonts/Vazir-Medium.woff") format("woff"),
      url("../fonts/Vazir-Medium.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: Vazir-Bold;
    src: url("../fonts/Vazir-Bold.eot");
    src: url("../fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Vazir-Bold.woff2") format("woff2"),
      url("../fonts/Vazir-Bold.woff") format("woff"),
      url("../fonts/Vazir-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  
  body {
    direction: rtl;
    text-align: right !important;
    font-family: "Vazir-Bold" !important;
    line-height: 1.6;
  }

  #app{
    text-align: center;
  }

  h1{
    text-decoration: none;
    color: crimson;
  }


